.outer-card-flipper-container
  display: flex
  flex-wrap: wrap

.card-container
  min-width: 260px
  // margin: 10px
  height: 350px
  position: relative
  display: flex
  flex: 1
  // margin: 5vw

.hover-animal
  width: 100%
  height: 40vh
  margin-top: -40vh
  position: absolute
  z-index: 1000
  transition: background-color 1s
  font-size: 1px
  &:hover
    transition: background-color .5s
    background: rgba(0, 0, 0, .7)

.animal-name
  position: absolute
  font-size: 0px
  color: #AA7737
  font-family: nunito-black
  bottom: 0px
  left: 10vw
  transition: bottom 1s, font-size .4s, left 1s

.animal-name-hover
  left: 3vw
  bottom: 50px
  font-size: 25px
  transition: bottom .5s, font-size .5s, left .5s

.click-more
  position: absolute
  font-size: 0px
  color: white
  bottom: 0px
  margin-left: 33%
  transition: bottom .3s, font-size .1s

.click-more-hover
  bottom: 40px
  font-size: 10px
  transition: bottom .5s, font-size .3s

.card-fipper
  position: absolute
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  width: 250px
  height: 1000px
  transition: transform .4s ease-in-out  .5s

.flipped
  transition: transform .4s ease-in-out 
  transform: rotateY(90deg)

// .front-card
//   position: absolute

// .back-card
//   position: absolute

.btn-flip-container
  // border-radius: 10px
  position: absolute
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  bottom: -10px
  width: 260px
  display: flex
  flex-direction: row

  .flip-btn
    display: flex
    justify-content: center
    align-items: center
    width: 150px
    margin: 5px
    height: 30px
    background-color: #C89C64
    border-radius: 8px
    &:hover
      cursor: pointer
