.imagesContainer
  display: flex
  flex-wrap: wrap
  opacity: 80%
  margin-bottom: 1000px
  justify-content: center

.image
  img
    border-radius: 10px
    margin: 5vw
    width: 15vw
    height: 40vh
    object-fit: cover
    position: relative
    display: flex
    justify-content: center
