.headerImage
  height: 70vh
  width: 100%
  object-fit: cover

.container
  position: relative
  display: block
  height: 35vh

.grayBox
  border-radius: 10px
  height: 30vh
  width: 50%
  right: 0px
  background: #222222
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
  z-index: 101
  position: absolute
  display: flex
  justify-content: flex-start
  align-items: center
  h2
    width: 20vw
    margin-left: 5vw

.orangeBox
  border-radius: 10px
  height: 45vh
  width: 60vw
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
  background: rgb(168,116,52)
  background: linear-gradient(40deg, rgba(168,116,52,1) 0%, rgba(201,156,101,1) 50%, rgba(168,116,52,1) 100%)
  z-index: 100
  position: absolute
  margin-top: -100px
  align-items: flex-end
  justify-content: center
  display: flex
  flex-direction: column
  h1
    width: 20vw
    margin-right: 15vw

@media (max-width: 1490px)
  .orangeBox
    h1
      width: 40%
      font-size: 18px

  .grayBox
    h2
      font-size: 18px

@media (max-width: 1080px)
  .orangeBox
    h1
      font-size: 18px
      width: 50%

  .grayBox
    h2
      width: 70%
      font-size: 18px

@media (max-width: 720px)
  .container
    display: flex
    justify-content: center
    position: relative
    height: 42vh

  .orangeBox
    position: absolute
    height: 40vh
    width: 100vw
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
    z-index: 0
    display: flex
    justify-content: center
    z-index: 101
    h1
      width: 80%
      margin-right: 10vw
      font-size: 20px

  .grayBox
    border-radius: 0px
    position: absolute
    bottom: 0vh
    width: 100%
    z-index: 100
    height: 15vh
    h2
      width: 80%
      font-size: 16px
