.headerImage
  height: 70vh
  width: 100%
  display: block
  object-fit: cover

.container
  position: relative
  display: block
  height: 35vh

.grayBox
  border-radius: 10px
  height: 30vh
  width: 50%
  right: 0px
  background: #222222
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
  z-index: 1
  position: absolute
  display: flex
  justify-content: flex-start
  align-items: center
  h2
    width: 20vw
    margin-left: 5vw

.orangeBox
  border-radius: 10px
  height: 45vh
  width: 60vw
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
  background: rgb(168,116,52)
  background: linear-gradient(40deg, rgba(168,116,52,1) 0%, rgba(201,156,101,1) 50%, rgba(168,116,52,1) 100%)
  z-index: 0
  position: absolute
  margin-top: -100px
  align-items: flex-end
  justify-content: center
  display: flex
  flex-direction: column
  h1
    width: 20vw
    margin-right: 15vw

@media (max-width: 800px)
  .container
    position: relative
    background: #393939
    display: flex
    justify-content: center

  .orangeBox
    background: linear-gradient(246.24deg, #fc8805 20%, rgb(202, 138, 40) 100%), #24a36e
    height: 40vh
    width: 70vw
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
    z-index: 0
    position: absolute
    margin: -100px
    display: flex
    justify-content: center
    border-radius: 10px
    z-index: 1
  .grayBox
    width: 100%
    z-index: 0
