.articleContainer
  display: flex
  flex-direction: column
  align-items: center
  height: 150vh

.article-box
  height: 30vh
  width: 80%
  border-radius: 10px

.article-header
  font-weight: 800
  text-align: center
  font-size: 40px
  color: #cac6c6
  margin-top: 25vh
  margin-bottom: 8vh

.title
  font-size: 30px
  color: #bbbbbb

.description
  color: #545454

.link-button
  height: 40px
  width: 200px
  border-style: none
  color: #dcdcdc
  background: #101010
  font-weight: 600
  border-radius: 3px
  border: 2px solid #b30000
