.monkey
  height: 100vh
  width: 100%
  object-fit: contain

.footerPicture
  background: black
  display: flex
  position: relative
  justify-content: center
  align-items: center

.absolute
  position: absolute
  margin: auto
  height: 20vh
  width: 30vw
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
  background: rgb(168,116,52)
  background: linear-gradient(40deg, rgba(168,116,52,.5) 0%, rgba(201,156,101,.5) 50%, rgba(168,116,52,.5) 100%)
  border-radius: 30px
  display: flex
  justify-item: center
  h1
    font-size: 30px
    color: #131313
    text-align: center
    margin: auto
