.nav  
  position: absolute

.container
  position: relative
  display: block
  background: #393939
  height: 700px

.grayBox
  height: 50vh
  width: 50%
  right: 0px
  background: #2D2727
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
  z-index: 1
  position: absolute
  justify-content: center

.orangeBox
  height: 70vh
  width: 60%
  background: linear-gradient(246.24deg, #A16A27 0.5%, rgba(255, 255, 255, 0) 100%), #BF8238;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
  z-index: 0
  position: absolute
  margin: -100px
  justify-content: center

h2
  font-size: 20px
  color: #B37F40
  width: 60%
  

h1
  font-size: 20px
  color: #575050
  width: 60%
