
.container-full
  display: flex
  position: relative
  width: 100%


.slider-adjustments
  height: 100vh
  width: 100%

.containers-here
  width: 100%
  height: 100vh
  &:hover
    opacity: 100%

.imgs
  width: 100%
  height: 100%
  display: flex
  filter: brightness(40%)
  object-fit: cover

  &:hover
    transition: transform .5s, filter .5s ease-in-out
    transform-origin: center center
    filter: brightness(100%)
    transform: scale(1.1)
