// $slick-font-path: "~slick-carousel/slick/fonts/"
// $slick-loader-path: "~slick-carousel/slick/"

.container-full
  display: flex
  position: relative
  width: 100%

.slider-adjustments
  height: 100vh
  width: 100%

.containers-here
  width: 100%
  height: 100vh

.imgs
  width: 100%
  height: 100%
  display: flex  
  object-fit: cover

